.flex{
  width:350px;
  border:1px solid lightgray;
  border-radius:12px;
  overflow:hidden;
  font-family:Arial, sans-serif;
}
.image img{
  width:100%;
  display:block;
}
.info{
  padding:15px;
}
.plan{
  font-size:12px;
  font-weight: 600;
  color:gray;
}
.info h2{
  font-size:20px;
  font-weight: 500;
  margin:10px 0;
}
.text{
  font-size:14px;
  color:#555;
}
.button{
  display:inline-block;
  margin-top:12px;
  padding:8px 16px;
  border:1px solid lightgray;
  border-radius: 5px;
  cursor:pointer;
  color: cornflowerblue;
  font-weight: 550;
}
.plan svg{
    flex-direction: row;
}